<ion-content scroll="false">
        <div class="item item-divider flex" id="searchBar" style="
    height: 100px;
    top: 50px;
">
            <div id="searchBarBox" class="flex-item">
                <button class="button button-small button-icon icon ion-ios-close-empty flex-item"
                        ng-click="clearSearch()" ng-show="explicitSearch">
                </button>
            </div>
            <button class="button button-small button-icon icon ion-pinpoint flex-item"
                    ng-click="centerOnMe()">
            </button>
        </div>
        <ui-gmap-google-map
            center="map.center"
            bounds="map.bounds"
            control="map.control"
            events="map.events"
            options="map.options"
            pan="true"
            zoom="map.zoom">
            <ui-gmap-search-box
                ng-model="search.place"
                events="map.searchbox.events"
                options="map.searchbox.options"
                parentdiv="map.searchbox.parentdiv"
                template="map.searchbox.template">
            </ui-gmap-search-box>
        </ui-gmap-google-map>
    </ion-content>