<ion-view title="Paramètres" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="paramTres-form12" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="paramTres-toggle11">Tout Ouvert</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="paramTres-toggle12">Pagination</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="paramTres-toggle13">Effet drop</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="paramTres-toggle14">Delay</ion-toggle>
    </form>
    <button id="paramTres-button36" class="button button-positive button-block button-outline">Enregistrer</button>
  </ion-content>
</ion-view>